In [1]:
import pandas as pd

In [2]:
labels = pd.read_csv('train_labels.csv')
labels

        building_id  damage_grade
0            802906             3
1             28830             2
2             94947             3
3            590882             2
4            201944             3
...             ...           ...
260596       688636             2
260597       669485             3
260598       602512             3
260599       151409             2
260600       747594             3

[260601 rows x 2 columns]

In [3]:
values = pd.read_csv('train_values.csv')
values

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,0
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,688636,25,1335,1621,1,55,6,3,n,r,...,0,0,0,0,0,0,0,0,0,0
260597,669485,17,715,2060,2,0,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
260598,602512,17,51,8163,3,55,6,7,t,r,...,0,0,0,0,0,0,0,0,0,0
260599,151409,26,39,1851,2,10,14,6,t,r,...,0,0,0,0,0,0,0,0,0,0
260600,747594,21,9,9101,3,10,7,6,n,r,...,0,0,0,0,0,0,0,0,0,0

In [4]:
train = labels.merge(values, how='inner')
train

,building_id,damage_grade,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,3,6,487,12198,2,30,6,5,t,...,0,0,0,0,0,0,0,0,0,0
1,28830,2,8,900,2812,2,10,8,7,o,...,0,0,0,0,0,0,0,0,0,0
2,94947,3,21,363,8973,2,10,5,5,t,...,0,0,0,0,0,0,0,0,0,0
3,590882,2,22,418,10694,2,10,6,5,t,...,0,0,0,0,0,0,0,0,0,0
4,201944,3,11,131,1488,3,30,8,9,t,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,688636,2,25,1335,1621,1,55,6,3,n,...,0,0,0,0,0,0,0,0,0,0
260597,669485,3,17,715,2060,2,0,6,5,t,...,0,0,0,0,0,0,0,0,0,0
260598,602512,3,17,51,8163,3,55,6,7,t,...,0,0,0,0,0,0,0,0,0,0
260599,151409,2,26,39,1851,2,10,14,6,t,...,0,0,0,0,0,0,0,0,0,0
260600,747594,3,21,9,9101,3,10,7,6,n,...,0,0,0,0,0,0,0,0,0,0

In [5]:
col_actual=1
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260601 entries, 0 to 260600
Data columns (total 40 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   damage_grade                            260601 non-null  int64
 2   geo_level_1_id                          260601 non-null  int64
 3   geo_level_2_id                          260601 non-null  int64
 4   geo_level_3_id                          260601 non-null  int64
 5   count_floors_pre_eq                     260601 non-null  int64
 6   age                                     260601 non-null  int64
 7   area_percentage                         260601 non-null  int64
 8   height_percentage                       260601 non-null  int64
 9   land_surface_condition                  260601 non-null  object
 10  foundation_type                         260601 non-null  object
 11  roof_type                               260601 non-null  object
 12  ground_floor_type                       260601 non-null  object
 13  other_floor_type                        260601 non-null  object
 14  position                                260601 non-null  object
 15  plan_configuration                      260601 non-null  object
 16  has_superstructure_adobe_mud            260601 non-null  int64
 17  has_superstructure_mud_mortar_stone     260601 non-null  int64
 18  has_superstructure_stone_flag           260601 non-null  int64
 19  has_superstructure_cement_mortar_stone  260601 non-null  int64
 20  has_superstructure_mud_mortar_brick     260601 non-null  int64
 21  has_superstructure_cement_mortar_brick  260601 non-null  int64
 22  has_superstructure_timber               260601 non-null  int64
 23  has_superstructure_bamboo               260601 non-null  int64
 24  has_superstructure_rc_non_engineered    260601 non-null  int64
 25  has_superstructure_rc_engineered        260601 non-null  int64
 26  has_superstructure_other                260601 non-null  int64
 27  legal_ownership_status                  260601 non-null  object
 28  count_families                          260601 non-null  int64
 29  has_secondary_use                       260601 non-null  int64
 30  has_secondary_use_agriculture           260601 non-null  int64
 31  has_secondary_use_hotel                 260601 non-null  int64
 32  has_secondary_use_rental                260601 non-null  int64
 33  has_secondary_use_institution           260601 non-null  int64
 34  has_secondary_use_school                260601 non-null  int64
 35  has_secondary_use_industry              260601 non-null  int64
 36  has_secondary_use_health_post           260601 non-null  int64
 37  has_secondary_use_gov_office            260601 non-null  int64
 38  has_secondary_use_use_police            260601 non-null  int64
 39  has_secondary_use_other                 260601 non-null  int64
dtypes: int64(32), object(8)
memory usage: 81.5+ MB

In [6]:
#Ninguna columna tiene datos faltantes, veamos sus datos
train.iloc[:,col_actual].value_counts(dropna=False)

2    148259
3     87218
1     25124
Name: damage_grade, dtype: int64

In [7]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

6     24381
26    22615
10    22079
17    21813
8     19080
7     18994
20    17216
21    14889
4     14568
27    12532
13     9608
11     8220
3      7540
22     6252
25     5624
16     4332
0      4011
9      3958
12     3194
18     3189
1      2701
5      2690
30     2686
15     2320
14     1714
24     1310
23     1121
2       931
29      396
19      372
28      265
Name: geo_level_1_id, dtype: int64

In [8]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

39      4038
158     2520
181     2080
1387    2040
157     1897
        ...
627        1
1263       1
100        1
1123       1
319        1
Name: geo_level_2_id, Length: 1414, dtype: int64

In [9]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

633      651
9133     647
621      530
11246    470
2005     466
        ...
6095       1
3599       1
7886       1
9994       1
11851      1
Name: geo_level_3_id, Length: 11595, dtype: int64

In [10]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

2    156623
3     55617
1     40441
4      5424
5      2246
6       209
7        39
9         1
8         1
Name: count_floors_pre_eq, dtype: int64

In [11]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

10     38896
15     36010
5      33697
20     32182
0      26041
25     24366
30     18028
35     10710
40     10559
50      7257
45      4711
60      3612
80      3055
55      2033
70      1975
995     1390
100     1364
65      1123
90      1085
85       847
75       512
95       414
120      180
150      142
200      106
110      100
105       89
125       37
115       21
140        9
130        9
180        7
160        6
170        6
175        5
135        5
145        3
190        3
195        2
165        2
155        1
185        1
Name: age, dtype: int64

In [12]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

6      42013
7      36752
5      32724
8      28445
9      22199
       ...
82         1
80         1
78         1
75         1
100        1
Name: area_percentage, Length: 84, dtype: int64

In [13]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

5     78513
6     46477
4     37763
7     35465
3     25957
8     13902
2      9305
9      5376
10     4492
11      917
12      907
13      759
15      292
16      179
32       75
18       71
14       66
20       33
21       13
23       11
17        9
19        7
24        4
25        3
26        2
28        2
31        1
Name: height_percentage, dtype: int64

In [14]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

t    216757
n     35528
o      8316
Name: land_surface_condition, dtype: int64

In [15]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

r    219196
w     15118
u     14260
i     10579
h      1448
Name: foundation_type, dtype: int64

In [16]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

n    182842
q     61576
x     16183
Name: roof_type, dtype: int64

In [17]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

f    209619
x     24877
v     24593
z      1004
m       508
Name: ground_floor_type, dtype: int64

In [18]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

q    165282
x     43448
j     39843
s     12028
Name: other_floor_type, dtype: int64

In [19]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

s    202090
t     42896
j     13282
o      2333
Name: position, dtype: int64

In [20]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

d    250072
q      5692
u      3649
s       346
c       325
a       252
o       159
m        46
n        38
f        22
Name: plan_configuration, dtype: int64

In [21]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

0    237500
1     23101
Name: has_superstructure_adobe_mud, dtype: int64

In [22]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

1    198561
0     62040
Name: has_superstructure_mud_mortar_stone, dtype: int64

In [23]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

0    251654
1      8947
Name: has_superstructure_stone_flag, dtype: int64

In [24]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

0    255849
1      4752
Name: has_superstructure_cement_mortar_stone, dtype: int64

In [25]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

0    242840
1     17761
Name: has_superstructure_mud_mortar_brick, dtype: int64

In [26]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

0    240986
1     19615
Name: has_superstructure_cement_mortar_brick, dtype: int64

In [27]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

0    194151
1     66450
Name: has_superstructure_timber, dtype: int64

In [28]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

0    238447
1     22154
Name: has_superstructure_bamboo, dtype: int64

In [29]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

0    249502
1     11099
Name: has_superstructure_rc_non_engineered, dtype: int64

In [30]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

0    256468
1      4133
Name: has_superstructure_rc_engineered, dtype: int64

In [31]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

0    256696
1      3905
Name: has_superstructure_other, dtype: int64

In [32]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

v    250939
a      5512
w      2677
r      1473
Name: legal_ownership_status, dtype: int64

In [33]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

1    226115
0     20862
2     11294
3      1802
4       389
5       104
6        22
7         7
9         4
8         2
Name: count_families, dtype: int64

In [34]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

0    231445
1     29156
Name: has_secondary_use, dtype: int64

In [35]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

0    243824
1     16777
Name: has_secondary_use_agriculture, dtype: int64

In [36]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

0    251838
1      8763
Name: has_secondary_use_hotel, dtype: int64

In [37]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

0    258490
1      2111
Name: has_secondary_use_rental, dtype: int64

In [38]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

0    260356
1       245
Name: has_secondary_use_institution, dtype: int64

In [39]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

0    260507
1        94
Name: has_secondary_use_school, dtype: int64

In [40]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

0    260322
1       279
Name: has_secondary_use_industry, dtype: int64

In [41]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

0    260552
1        49
Name: has_secondary_use_health_post, dtype: int64

In [42]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

0    260563
1        38
Name: has_secondary_use_gov_office, dtype: int64

In [43]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

0    260578
1        23
Name: has_secondary_use_use_police, dtype: int64

In [44]:
col_actual += 1
train.iloc[:,col_actual].value_counts(dropna=False)

0    259267
1      1334
Name: has_secondary_use_other, dtype: int64

In [50]:
#Buscamos reducir espacio en el dataframe, utilizando tipos de datos adecuados para cada columna

data_types = {
    'land_surface_condition':'category',
    'foundation_type':'category',
    'roof_type':'category',
    'ground_floor_type':'category',
    'other_floor_type':'category',
    'position':'category',
    'plan_configuration':'category',
    'has_superstructure_adobe_mud':bool,
    'has_superstructure_mud_mortar_stone':bool,
    'has_superstructure_stone_flag':bool,
    'has_superstructure_cement_mortar_stone':bool,
    'has_superstructure_mud_mortar_brick':bool,
    'has_superstructure_cement_mortar_brick':bool,
    'has_superstructure_timber':bool,
    'has_superstructure_bamboo':bool,
    'has_superstructure_rc_non_engineered':bool,
    'has_superstructure_rc_engineered':bool,
    'has_superstructure_other':bool,
    'legal_ownership_status':'category',
    'has_secondary_use':bool,
    'has_secondary_use_agriculture':bool,
    'has_secondary_use_hotel':bool,
    'has_secondary_use_rental':bool,
    'has_secondary_use_institution':bool,
    'has_secondary_use_school':bool,
    'has_secondary_use_industry':bool,
    'has_secondary_use_health_post':bool,
    'has_secondary_use_gov_office':bool,
    'has_secondary_use_use_police':bool,
    'has_secondary_use_other':bool
    
}

In [55]:
train = train.astype(data_types)
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260601 entries, 0 to 260600
Data columns (total 40 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   damage_grade                            260601 non-null  int64
 2   geo_level_1_id                          260601 non-null  int64
 3   geo_level_2_id                          260601 non-null  int64
 4   geo_level_3_id                          260601 non-null  int64
 5   count_floors_pre_eq                     260601 non-null  int64
 6   age                                     260601 non-null  int64
 7   area_percentage                         260601 non-null  int64
 8   height_percentage                       260601 non-null  int64
 9   land_surface_condition                  260601 non-null  category
 10  foundation_type                         260601 non-null  category
 11  roof_type                               260601 non-null  category
 12  ground_floor_type                       260601 non-null  category
 13  other_floor_type                        260601 non-null  category
 14  position                                260601 non-null  category
 15  plan_configuration                      260601 non-null  category
 16  has_superstructure_adobe_mud            260601 non-null  bool
 17  has_superstructure_mud_mortar_stone     260601 non-null  bool
 18  has_superstructure_stone_flag           260601 non-null  bool
 19  has_superstructure_cement_mortar_stone  260601 non-null  bool
 20  has_superstructure_mud_mortar_brick     260601 non-null  bool
 21  has_superstructure_cement_mortar_brick  260601 non-null  bool
 22  has_superstructure_timber               260601 non-null  bool
 23  has_superstructure_bamboo               260601 non-null  bool
 24  has_superstructure_rc_non_engineered    260601 non-null  bool
 25  has_superstructure_rc_engineered        260601 non-null  bool
 26  has_superstructure_other                260601 non-null  bool
 27  legal_ownership_status                  260601 non-null  category
 28  count_families                          260601 non-null  int64
 29  has_secondary_use                       260601 non-null  bool
 30  has_secondary_use_agriculture           260601 non-null  bool
 31  has_secondary_use_hotel                 260601 non-null  bool
 32  has_secondary_use_rental                260601 non-null  bool
 33  has_secondary_use_institution           260601 non-null  bool
 34  has_secondary_use_school                260601 non-null  bool
 35  has_secondary_use_industry              260601 non-null  bool
 36  has_secondary_use_health_post           260601 non-null  bool
 37  has_secondary_use_gov_office            260601 non-null  bool
 38  has_secondary_use_use_police            260601 non-null  bool
 39  has_secondary_use_other                 260601 non-null  bool
dtypes: bool(22), category(8), int64(10)
memory usage: 29.3 MB

In [59]:
int_cols = train.select_dtypes('integer').columns
train[int_cols] = train[int_cols].apply(pd.to_numeric, downcast='integer')
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260601 entries, 0 to 260600
Data columns (total 40 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int32
 1   damage_grade                            260601 non-null  int8
 2   geo_level_1_id                          260601 non-null  int8
 3   geo_level_2_id                          260601 non-null  int16
 4   geo_level_3_id                          260601 non-null  int16
 5   count_floors_pre_eq                     260601 non-null  int8
 6   age                                     260601 non-null  int16
 7   area_percentage                         260601 non-null  int8
 8   height_percentage                       260601 non-null  int8
 9   land_surface_condition                  260601 non-null  category
 10  foundation_type                         260601 non-null  category
 11  roof_type                               260601 non-null  category
 12  ground_floor_type                       260601 non-null  category
 13  other_floor_type                        260601 non-null  category
 14  position                                260601 non-null  category
 15  plan_configuration                      260601 non-null  category
 16  has_superstructure_adobe_mud            260601 non-null  bool
 17  has_superstructure_mud_mortar_stone     260601 non-null  bool
 18  has_superstructure_stone_flag           260601 non-null  bool
 19  has_superstructure_cement_mortar_stone  260601 non-null  bool
 20  has_superstructure_mud_mortar_brick     260601 non-null  bool
 21  has_superstructure_cement_mortar_brick  260601 non-null  bool
 22  has_superstructure_timber               260601 non-null  bool
 23  has_superstructure_bamboo               260601 non-null  bool
 24  has_superstructure_rc_non_engineered    260601 non-null  bool
 25  has_superstructure_rc_engineered        260601 non-null  bool
 26  has_superstructure_other                260601 non-null  bool
 27  legal_ownership_status                  260601 non-null  category
 28  count_families                          260601 non-null  int8
 29  has_secondary_use                       260601 non-null  bool
 30  has_secondary_use_agriculture           260601 non-null  bool
 31  has_secondary_use_hotel                 260601 non-null  bool
 32  has_secondary_use_rental                260601 non-null  bool
 33  has_secondary_use_institution           260601 non-null  bool
 34  has_secondary_use_school                260601 non-null  bool
 35  has_secondary_use_industry              260601 non-null  bool
 36  has_secondary_use_health_post           260601 non-null  bool
 37  has_secondary_use_gov_office            260601 non-null  bool
 38  has_secondary_use_use_police            260601 non-null  bool
 39  has_secondary_use_other                 260601 non-null  bool
dtypes: bool(22), category(8), int16(3), int32(1), int8(6)
memory usage: 13.4 MB

In [ ]:
#Logramos reducir el dataframe de 81.5 mb a 13.4 mb

In [60]:
train.to_csv('cleaned_train.csv', index=False)